/* styles.css */
@media (max-width: 768px) {

    /* Tablets & small screens */
    iframe {
        transform: scale(0.9);
        transform-origin: top left;
    }
}

@media (max-width: 480px) {

    /* Mobile screens */
    iframe {
        transform: scale(0.7);
        transform-origin: top left;
    }
}